:root {
	--font_size: 14px;
	
	--aside_order: 0;
	--slider_btn_left: 5px;
	
	--body_bgcolor: #696969;
	--navbar_bgcolor: #333;
	--label_bgcolor: #000;
	
	--putdate_bg: #ddd;
	--content_bg: whitesmoke;
	
	--publication_width: 47%;
	--publication_div1_width: 100%;
	--publication_div2_display: none;
	--publication_div1_a1_display: inline;
	--publication_div1_a3_display: inline;
}

html {
	/* font-size: 14px; */
	font-size: var(--font_size);

	/* растягиваем контент на все оставшееся пространство */
	height: 100%;
}

body {
	background-color: var(--putdate_bg);
	color: #000;
	width: 100%;
	margin: 0px auto;
	
	/* растягиваем контент на все оставшееся пространство */
	height: 100%;
	display: flex;
	flex-direction: column;
}


main {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	
	/* растягиваем контент на все оставшееся пространство, 
	а футер прижимается к низу */
	flex-grow: 1;

	margin-top: 7rem;
	padding: 0% 5%;
}
	main > #content {
		width: 69.7%;
		outline: solid 0px black;
		background-color: var(--content_bg);
		box-sizing: border-box;
		padding-bottom: 2rem;
	}
	main > aside {
		width: 30%;
		outline: solid 0px black;
		background-color: var(--content_bg);
		order: var(--aside_order);
		box-sizing: border-box;
		padding-bottom: 2rem;
	}



footer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: start;
	align-items: stretch;
	background-color: var(--navbar_bgcolor);
}

	/* общий для сайта .label */
	div.label {
		width: 100%;
		box-sizing: border-box;
		font: bold 1.2rem/1.4rem verdana,tahoma,sans-serif;
		background-color: var(--label_bgcolor);
		color: var(--content_bg);
		padding: 1rem 2.5rem;
		outline: 0px solid #000;
	}


	footer > div.content {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: start;
		align-items: stretch;

		width: 100%;
		box-sizing: border-box;
		padding: 2rem 2rem;
	}
		footer > div.content > a {
			width: 20%;
			box-sizing: border-box;
			padding: 10px 10px;
			font: normal 1.2rem/1.4rem verdana,tahoma,sans-serif; 
			color: var(--putdate_bg);
			white-space: nowrap;
			outline: 0px solid red;
			transition: all 0.5s ease;
		}
		footer > div.content > a:hover { 
			color: var(--content_bg); 
		}



/* СТИЛИ ВНУТРИ aside */
.sidebar {
	position: sticky;
	top: 7rem;
	bottom: 0;
	margin: 0;
	padding: 0;
	background-color: var(--content_bg);
}
	.sidebar > div.content {
		overflow-x: hidden;
		overflow-y: hidden;
	}
		.sidebar > div.content > a {
			display: block;
			font: normal 1.2rem/1.4rem verdana,tahoma,sans-serif;  
			color: var(--body_bgcolor);
			padding: 1rem 1.5rem;
			outline: 0px solid #ccc;
			transition: all 0.5s ease;
		}
		.sidebar > div.content > a:hover {
			background-color: var(--navbar_bgcolor);
			color: var(--content_bg);
		}
			.sidebar > div.content > a > img {
				height: 1.7rem; 
				vertical-align: middle; 
				border-radius: 50%;
			}
			.sidebar > div.content > a.imgIcon > img {
				height: 1.2rem;
				vertical-align: middle;
				border-radius: 0%;
			}


/* заголовок для .contentHeader */
.contentCaption {
	width: 100%;
	box-sizing: border-box;
	padding: 1rem 2.5rem;
	font: bold 1.2rem/1.6rem verdana,tahoma,sans-serif;
	background-color: var(--label_bgcolor);
	color: var(--content_bg);
}

/* WRAPPER ДЛЯ ЗАГОЛОВКА КОНТЕНТА */
.contentHeader {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	width: 100%;
	background-color: var(--content_bg);
}
	.contentHeader > div:nth-of-type(1) {
		width: 23%;
		box-sizing: border-box;
		padding: 10px 0px;
		text-align: center;
		outline: 0px solid #000;
	}
		.contentHeader > div:nth-of-type(1) > img {
			height: 6rem;
		}
		
	.contentHeader > div:nth-of-type(2) {
		width: 77%;
		box-sizing: border-box;
		padding: 10px 20px;
		font: normal 1.3rem/1.8rem verdana,tahoma,sans-serif;
		color: var(--label_bgcolor); 
		outline: 0px solid #000;
		
		display: flex; /* Используется только для Центрирования */
		justify-content: start; /* Центрирование по горизонтали (если center) */
		align-items: center; /* Центрирование по вертикали */
	}
		.contentHeader > div:nth-of-type(2) > a {
			font: bold 1.3rem/1.8rem verdana,tahoma,sans-serif;
			color: var(--label_bgcolor);
		}
		.contentHeader > div:nth-of-type(2) > a:hover {
			text-decoration: none;
			color: blue; 
		}


/* дата публикации */
.contentPutDate {
	width: 100%;
	box-sizing: border-box;
	font: normal 1.2rem/1.6rem verdana,tahoma,sans-serif;
	background-color: var(--content_bg);
	color: var(--body_bgcolor);
	padding: 0rem 0rem;
	height: 3rem;
    line-height: 3rem;
	outline: 0px solid red;
}


/* КОНТЕНТ */
.content-wrapper {
	padding: 1rem 2.5rem;
	background-color: var(--content_bg);
	color: var(--label_bgcolor);
	font: normal 1.2rem/1.8rem verdana,tahoma,sans-serif;
	outline: 0px solid #000;
}
	.content-wrapper span {
		font: normal 0.9rem/1.1rem verdana,tahoma,sans-serif;
	}
	.content-wrapper > img {
		height: 50px;
		float: left;
		margin-right: 10px; 
		border-radius: 20px;
		overflow: hidden;
		transition: all 0.5s ease;
	}
	.content-wrapper > img:hover {
		transform: scaleX(-1);
	}




/* КЛАССЫ ВНУТРИ .block */
.block {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: stretch;
	width: 100%;
	margin: 0px auto;
	background-color: var(--content_bg);
}			


/* ОБЩИЕ СЕЛЕКТОРЫ САЙТА */
a:link, a:visited {
	display: inline-block;
	font: normal 1.2rem/1.6rem verdana,tahoma,sans-serif; 
	text-decoration: none; 
	color: blue;
}
a:hover { color: blue; }
a:active { color: #006400; }